<ul class="list-group">
    <li class="list-group-item">
        <strong>HP</strong>
        <span class="badge">{{pokemon.stats[0].base_stat}}</span>
    </li>
    <li class="list-group-item">
        <strong>Attack</strong>
        <span class="badge">{{pokemon.stats[1].base_stat}}</span>
    </li>
    <li class="list-group-item">
        <strong>Defense</strong>
        <span class="badge">{{pokemon.stats[2].base_stat}}</span>
    </li>
    <li class="list-group-item">
        <strong>Special Attack</strong>
        <span class="badge">{{pokemon.stats[3].base_stat}}</span>
    </li>
    <li class="list-group-item">
        <strong>Special Defense</strong>
        <span class="badge">{{pokemon.stats[4].base_stat}}</span>
    </li>
    <li class="list-group-item">
        <strong>Speed</strong>
        <span class="badge">{{pokemon.stats[5].base_stat}}</span>
    </li>
    <!-- <li class="list-group-item">
        <strong>Total</strong>
        <span class="badge">{{pokemon.stats.total}}</span>
    </li> -->
</ul>